.int-group-btn {
  cursor: pointer !important;
  z-index: 5 !important;
  box-shadow: none !important;
  margin-top: -37px !important;
  float: right !important;
}

// .invalid-feedback {
//   display: none;
//   width: 100%;
//   margin-top: 0.25rem;
//   font-size: 80%;
//   color: #dc3545;
// }

// .is-invalid~.invalid-feedback{
//   display: block;
// }
